body{background-color:white;
font-family: 'Roboto', sans-serif;
background-image: url(bg.gif);

}
.obrazek1{

	width:80%;
}
.obrazek2{
	width:80%;
		margin-left:auto;
	margin-right:auto;
	
	
}
#box{
	width:45%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}
a{
	
	text-decoration:none;
	color:green;
}
@media only screen and (max-width: 400px) {
.obrazek1{
border: solid 0.5px;
padding:10px;

}.obrazek2{
width:120%;

}

a{
	
	text-decoration:none;
	color:red;
}
h1{font-size:16pt;}
}
