body{
	margin:0;
	font-family: 'Lato', sans-serif;

    background-image: url("bg.jpg");
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	color:white;
	  text-align: justify;
    text-justify: inter-word;

}

nav{
	width:100%;
	margin-left:auto;
	margin-right:auto;
		text-align:center;
		font-size:15pt
;
display:flex;
	
}nav p{
	display:flex;
	margin-left:10px;
	text-align:center;
	
	
}nav p{
	display:flex;
	margin-left:10px;
	text-align:center;
	
	
}
.navcon{
		margin-left:auto;
	margin-right:auto;
	display:flex;
	
}
.czesc1 {
	width:60%;
	margin-top:100px;
	margin-left:auto;
margin-right:auto;
clear:both;



}.czesc2 {
	width:60%;
	margin-left:auto;
margin-right:auto;
clear:both;
  text-align: justify;
    text-justify: inter-word;
}.czesc3 {
	width:60%;
	
	margin-left:auto;
margin-right:auto;
clear:both;

}
.lewo{

	width:50%;
	float:left;
}.prawo{
	width:50%;
	float:left;
	text-align:left;
	

	
	
}
.planeta{
	width:80%;
	float:left;
	
}
footer{
	width:100%;
position:absolute;
	height:10px;
	border-top: solid 1px;
	
}
.mobilemenu{
	display:none;
	
}
p{ 
text-shadow: 2px 1px black;}